*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: burlywood;
}

main{  

    display: grid;
    justify-content: space-evenly;
    grid-row-gap: 2rem;

    grid-template-areas:
        'banner'
        'solution'
        'web-development'
        'networkservices'
        'seo-optization'
        'app-optimization'  
        'data-recovery'
    ;

}
body{
    font-family: 'Roboto', sans-serif; 
    background-color: #ddd;
}
.banner{
    width: 1200;
    height: 500px;
    grid-area: banner;
    background-color: rgb(255, 255, 255);
}


.solution{
    width: 300px;
    height: 300px;;
    grid-area: solution;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
}

.web-development{
    width: 300px;
    height: 300px;;
    grid-area: web-development;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
}

.networkservices{
    width: 300px;
    height: 300px;
    grid-area: networkservices;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
}
.seo-optization{
    width: 300px;
    height: 300px;
    grid-area: seo-optization;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
}
.app-optimization{
    width: 300px;
    height: 300px;
    grid-area: app-optimization;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
}
.data-recovery{
    width: 300px;
    height: 300px;
    grid-area: data-recovery;
    background-color: #fff;
    border-radius: 3px;   
    box-shadow: 0 5px 10px rgb(192, 192, 192);
    
}

img {
    width: 60px;
    height: 60px;    
    margin: 0 120px;
    margin-top: 30px;
}


h2{
    margin-top: 5px;
    text-align: center;
}
p{
    margin-top: 5px;
    font-size: 15px;
    padding: 1rem 1rem;
    text-align:center;
    color: hsl(0, 0%, 59%);
}

a{

    margin: 0 110px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: rgb(61, 61, 201);
}


footer{
    height: 80px;
}


@media  screen and (min-width: 700px) {

    main{
        margin: auto;
        max-width: 1200px;
        grid-template-areas:

        'banner           banner              banner'
        'solution         web-development     networkservices'
        'seo-optization   app-optimization    data-recovery'
    ;
    
    }
}